{{ template "header.html" .}}
<div class="container">
    <div class="card" style="width: 600px; margin-left: auto; margin-right: auto;">
        <div class="card-header">
            Login
        </div>
        <div class="card-body">
            <form id="changePasswordForm">
                <div class="mb-3">
                    <label class="form-label">Old Password</label>
                    <input type="password" class="form-control" id="old-password" name="old_password" required>
                </div>
                <div class="mb-3">
                    <label class="form-label">New Password</label>
                    <input type="password" class="form-control" id="new-password" name="new_password" required>
                </div>
                <div class="mb-3">
                    <label class="form-label">Confirm Password</label>
                    <input type="password" class="form-control" id="confirm-password" name="confirm_password" required>
                </div>
                <div id="alert-box">
                    <!-- Error Alert -->
                    <div class="alert alert-danger alert-dismissible fade show" style="display: none;">
                        <strong>Error!</strong><p class="error-message">A problem has been occurred while submitting your data.</p>
                    </div>
                </div>
                <input type="hidden" id="host" value="{{ .account_host}}">
                <button type="button" class="btn btn-primary" onclick="changePassword()">Change Password</button>
            </form>
        </div>
    </div>
</div>

<script>
    function changePassword() {
        var host = '{{ .account_host }}'

        $.ajax({
            type: "PUT",
            url: host + "/password",
            beforeSend: function(xhr) {
                xhr.setRequestHeader("X-Access-Token", getCookie("access_token"))
            },
            data: $('#changePasswordForm').serialize(),
            success: function(data, status, xhr) {
                window.location.href = "/groupchat"
            },
            error: function(xhr, status, error) {
                $(".error-message").text(xhr.responseText)
                $(".alert").show()
            },
            dataType: "json"
        })
    }

    $(document).ready(function() {
        $('#text-to-send').keyup(function(e) {
            if (e.keyCode == 13) {
                changePassword()
            }
        });
    })
</script>

{{ template "footer.html" .}}