{{ template "header.html" .}}
<div class="container">
    <h1>Categories</h1>
    <div class="row">
        <div class="card col-md-3" style="width: 18rem;">
            <div class="card-body">
                <a href="#">
                    <h5 class="card-title">Programming</h5>
                </a>
            </div>
        </div>
        <div class="card col-md-3" style="width: 18rem;">
            <div class="card-body">
                <a href="#">
                    <h5 class="card-title">Programming</h5>
                </a>
            </div>
        </div>
        <div class="card col-md-3" style="width: 18rem;">
            <div class="card-body">
                <a href="#">
                    <h5 class="card-title">Olah Raga</h5>
                </a>
            </div>
        </div>
        <div class="card col-md-3" style="width: 18rem;">
            <div class="card-body">
                <a href="#">
                    <h5 class="card-title">Jurnalistik</h5>
                </a>
            </div>
        </div>
        <div class="card col-md-3" style="width: 18rem;">
            <div class="card-body">
                <a href="#">
                    <h5 class="card-title">Food</h5>
                </a>
            </div>
        </div>
        <div class="card col-md-3" style="width: 18rem;">
            <div class="card-body">
                <a href="#">
                    <h5 class="card-title">Gaming</h5>
                </a>
            </div>
        </div>
    </div>
    <h1>Rooms</h1>
    <div class="row pt-3" id="group-list">
    </div>
</div>

<div class="col-md-3 py-2" id="group-card" style="display: none">
    <div class="card shadow">
        <img class="card-img-top" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22286%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20286%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_1790838a226%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A14pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_1790838a226%22%3E%3Crect%20width%3D%22286%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2299.421875%22%20y%3D%2296.6%22%3EImage%20cap%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
            alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title room-name">Room Name</h5>
            <a class="btn btn-primary room-id">Join Now</a>
        </div>
    </div>
</div>

<script>
    var host = '{{ .gc_host }}'
    $(document).ready(function() {
        $.ajax({
            type: "GET",
            url: host + "/groupchat",
            beforeSend: function(xhr) {
                xhr.setRequestHeader("X-Access-Token", getCookie("access_token"))
            },
            success: function(data, status, xhr) {
                var groupchats = data.data;
                groupchats.forEach(element => {
                    // console.log(element.description)

                    let gCard = $("#group-card").clone()
                    $(gCard).removeAttr("id")
                    $(gCard).find(".room-name").html(element.name)
                    $(gCard).find(".room-desc").html(element.description)
                    $(gCard).find(".room-id").attr("onclick", "joinNow(" + element.room_id + ")")
                    $("#group-list").append(gCard);

                    $(gCard).show()
                });

            },
            error: function(xhr, status, error) {
                console.log(xhr.responseText)
            },
            dataType: "json"
        })


    })

    //TODO
    function getCategories() {

    }

    //TODO
    function getRoomByCategoryID(category_id) {

    }

    function joinNow(gId) {
        $.ajax({
            type: "PUT",
            url: host + "/groupchat",
            beforeSend: function(xhr) {
                xhr.setRequestHeader("X-Access-Token", getCookie("access_token"))
            },
            data: "room_id=" + gId,
            success: function(data, status, xhr) {
                window.location.href = "/groupchat/list"
            },
            error: function(xhr, status, error) {
                console.log(xhr.responseText)
            },
            dataType: "json"
        })
    }
</script>

{{ template "footer.html" .}}