{{ template "header.html" .}}
<div class="container">
    <h1>Explore Rooms</h1>
    <div class="row pt-3" id="group-list">
    </div>
</div>

<div class="col-sm-6 py-2" id="group-card" style="display: none">
    <div class="card shadow">
        <div class="card-body">
            <h5 class="card-title room-name">Room Name</h5>
            <p class="card-text room-desc">Room short description.</p>
            <a class="btn btn-primary room-id">Join Now</a>
        </div>
    </div>
</div>

<script>
    var host = '{{ .gc_host }}'
    $(document).ready(function () {
        $.ajax({
            type: "GET",
            url: host + "/groupchat",
            beforeSend: function (xhr) {
                xhr.setRequestHeader("X-Access-Token", getCookie("access_token"))
            },
            success: function (data, status, xhr) {
                var groupchats = data.data;
                groupchats.forEach(element => {
                    // console.log(element.description)

                    let gCard = $("#group-card").clone()
                    $(gCard).removeAttr("id")
                    $(gCard).find(".room-name").html(element.name)
                    $(gCard).find(".room-desc").html(element.description)
                    $(gCard).find(".room-id").attr("onclick", "joinNow("+element.room_id+")")
                    $("#group-list").append(gCard);

                    $(gCard).show()
                });

            },
            error: function (xhr, status, error) {
                console.log(xhr.responseText)
            },
            dataType: "json"
        })


    })

    function joinNow(gId){
        $.ajax({
            type: "PUT",
            url: host + "/groupchat",
            beforeSend: function(xhr) {
                xhr.setRequestHeader("X-Access-Token", getCookie("access_token"))
            },
            data: "room_id="+gId,
            success: function(data, status, xhr) {
                window.location.href = "/groupchat/list"
            },
            error: function(xhr, status, error) {
                console.log(xhr.responseText)
            },
            dataType: "json"
        })
    }

</script>

{{ template "footer.html" .}}