{{ template "header.html" .}}
<div class="container">
    <h1>Rooms</h1>
    <div class="list-group" id="#groupchats"></div>
</div>
</div>
<script>
    var host = '{{ .host }}'
    $(document).ready(function () {
        $.ajax({
            type: "GET",
            url: host + "/joined",
            beforeSend: function (xhr) {
                xhr.setRequestHeader("X-Access-Token", getCookie("access_token"))
            },
            success: function (data, status, xhr) {
                var groupchats = data.data;
                $.each(groupchats, function (id, v) {
                    console.log(v.description)
                    $("#groupchats").append("<li class='list-group-item'>" + v.description + "</li>")
                    //console.log($("#groupchats"))
                })
            },
            error: function (xhr, status, error) {
                console.log(xhr.responseText)
            },
            dataType: "json"
        })
    })
</script>

{{ template "footer.html" .}}