{{ template "header.html" .}}
<div class="container">
  <div class="text-center">
    <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150" href="/">
  </div>
  <br>
  <div class="card-body user-card">
    <div class="row">
      <div class="col-sm-3"><h6 class="mb-0">Username</h6></div>
      <div class="col-sm-5" id="username">Kenneth</div>
      <div class="col-sm-4"><a href="profile/username">Change Username</a></div>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-3"><h6 class="mb-0">Password</h6></div>
      <div class="col-sm-5"></div>
      <div class="col-sm-4"><a href="profile/password">Change Password</a></div>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-3"><h6 class="mb-0">Created at</h6></div>
      <div class="col-sm-5" id="created-at"></div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    var host = '{{ .account_host }}'
    
    $.ajax({
      type: "GET",
      url: host + "/user/info",
      beforeSend: function(xhr) {
          xhr.setRequestHeader("X-Access-Token", getCookie("access_token"))
      },
      success: function(data, status, xhr) {
          let user = data.data
          $("#username").text(user.username)
          $("#created-at").text(user.created_at)
      },
      error: function(xhr, status, error) {
          console.log(xhr.responseText)
      },
      dataType: "json"
    })
	})
</script>
{{ template "footer.html" .}} 