{{ template "header.html" .}}
<div class="container">
    <form id="registerForm">
        <div class="mb-3">
            <label class="form-label">Username</label>
            <input type="text" class="form-control" id="username" name="username">
        </div>
        <div class="mb-3">
            <label class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password">
        </div>
        <div class="mb-3">
            <label class="form-label">Confirm Password</label>
            <input type="password" class="form-control" id="confirm-password" name="confirm_password">
        </div>
        <input type="hidden" id="host" value="{{ .host}}">
        <button type="button" class="btn btn-primary" onclick="register()">Register</button>
    </form>
</div>
<script>
    function register() {
        var host = '{{ .host }}'

        $.ajax({
            type: "POST",
            url: host + "/register",
            data: $('#registerForm').serialize(),
            success: function (data) {
                window.location.href = "/login"
            },
            error: function (xhr, status, error) {
                console.log(xhr.responseText)
            },
            dataType: "json"
        })
    }
</script>

{{ template "footer.html" .}}